
@{
    ViewBag.Title = "Info";
}
    <style>

        a {
            color: white;
            text-decoration: none;
        }

            a:hover {
                color: aliceblue;
                text-decoration: none;
            }
    </style>
<div class="text-center jumbotron bg-info text-white">
    <h1>Info about the Employer Dashboard</h1>
</div>

<div class="row align-content-center">
    <div class="col-md-6">
        <h2>Job List Button</h2>
        <p>When clicked the job list button will take the employer to a list of all their jobs. When looking at all of their jobs the employer can then create, delete and edit their jobs. Once these jobs are posted students can look at the jobs and contact the employers.</p>
    </div>
    <div class="col-md-6">
        <h2>Profile Button</h2>
        <p>When clicked the profile button will take the employer to their profile. While looking at the employer profile the employer can edit their profile.</p>
    </div>
</div>

<p class="btn btn-lg btn-primary text-left">@Html.ActionLink("Back to Dashboard", "EmployersDashboard")</p>


