
@{
    ViewBag.Title = "Info";
}
<div class="text-center jumbotron bg-info text-white">
    <h1>Info about the Student Dashboard</h1>
</div>

<div class="row align-content-center">
    <div class="col-md-6">
        <h2>Job List Button</h2>
        <p>When clicked the job list button will take the student to a list of all the jobs. When looking at all of the jobs the student can look at the job profile. If the student finds a job they like they can hit the contact employer button to email the employer.</p>
    </div>
    <div class="col-md-6">
        <h2>Profile Button</h2>
        <p>When clicked the profile button will take the student to their profile. While looking at the student profile the student can edit their profile.</p>
    </div>
</div>
